@page "/access-denied"

<div class="d-flex flex-column align-center justify-center" style="height: 80vh; text-align: center; padding: 2rem;">
    <MudIcon Icon="@Icons.Material.Filled.Block" Size="Size.Large" Color="Color.Error" Style="font-size: 6rem; margin-bottom: 1rem;" />
    <MudText Typo="Typo.h4" Class="mb-2" Style="font-weight: 700; color: #ff5252;">Access Denied</MudText>
    <MudText Typo="Typo.body1" Class="mb-4" Style="color: #757575;">You do not have permission to view this page.</MudText>
</div>

